body{
    background-color: rgb(240,240,255)
}

.goodmatter{
    text-shadow:tan;
    background-color: rgb(240,255,240);
}

.goodmatter:not(:last-child){
    border-bottom:1px solid rgb(200,200,200);
}

.badmatter{
    text-shadow:tan;
    background-color: rgb(255, 240, 240);
}

.send-matter{
    padding: 0.5em 1em;
    display:inline-block;
    background:#668AD8;
    color:white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: solid 4px #4E69A5;
    text-decoration: none;
    border-radius:3px;
}

.send-matter:active{
    transform:translateY(4px);
    
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}